*{
  /*font-family: "Trebuchet MS";*/
  font-family: 'Josefin Sans', sans-serif;
  color: #333;
}
.grey {
  background-color: #ccc;
  padding:20px;
  margin: 20px;
  border: solid black 1px;
}
.sent {
  top: -0px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./resources/apps.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 110vw;
  height: 110vh;
  margin-top: -10px;
  margin-left: -218px;
  background-color: white;
  z-index: 1;
}
.sent h3, .sent p, .sent a {
  color: #eee;
}
.inside-fancy-border{
  margin-top: 150px;
  height:60vh;
  width: 50%;
}
.fancy-border{
  width: 120%;
  height:80vh;
  background-image: url(./resources/top-border.jpg);
  background-size: 60vw;
  background-repeat: no-repeat;
  align-items: baseline;
  margin-bottom: 50px;
}
.service-div{
  position: relative;
  z-index: -1;
  width: 40%;
  text-align: center;
  height: 30vh;
  background-image: url(./resources/set-table.png);
  background-size: cover;;
  background-attachment: fixed;
  color: #fff;
  font-size: 1em;
  padding: 5em;
}
.waiter{
  position: relative;
  width: 40%;
  text-align: center;
  background-image: url(./resources/waiters.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-size: 1em;
  padding: 5em;
}
.romance{
  position: relative;
  width: 100%;
  height: 50vh;
  text-align: center;
  background-image: url(./resources/romance.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-size: 1em;
  padding: 5em;
}
.faq div{
  background-color: #fff;
}
.waiter table{
  color: #000;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}
.splash {
  position: relative;
  z-index: -1;
  width: 40%;
  text-align: center;
  height: 30vh;
  background-image: url(./resources/table-set.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-size: 1em;
  padding: 5em;
}
.htop{
  z-index: -1;
  position: relative;
  margin-top: 50px;
  width: 50%;
  text-align: center;
  min-height: auto;
  background-image: url(./resources/fork.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-size: 1em;
  padding: 5em;
}
.outdoor{
  z-index: -1;
  position: relative;
  margin-top: 50px;
  width: 50%;
  text-align: center;
  min-height: auto;
  /*background-image: url(./resources/outdoor.jpg);*/
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-size: 1em;
  padding: 5em;
}
.about-you{
  position: relative;
  margin-top: 50px;
  width: 30%;
  text-align: center;
  min-height: auto;
  background-image: url(./resources/coffee.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-size: 1em;
  padding: 5em;
}
.faq{
  z-index: -1;
  position: relative;
  margin-top: 50px;
  width: 50%;
  text-align: center;
  min-height: auto;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1em;
  padding: 5em;
}
.htop div, .client-info, .outdoor p, .romance div{
  background-color: rgb(0, 0, 0) transparent;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  color: white;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#ccc;
  height: 2px;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-with-sidebar {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;;
  margin-left: 15%;

}
.container-outside {
  width: 100vw;
  display: flex;
}

.container-vert{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.container-vert-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.sidebar {
  top: -6px;
  position: fixed;
  background-color: #454;
  height: 120%;
  font-size: .8em;
  width: 80px;
}
.sidebar-div {
  padding-left: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 10px 10% 10px 0px;
  height: 30px;
  cursor: pointer;
}
.sidebar-div *{
  color: #ddd;
  text-decoration: none;
}
.sidebar-div *:hover{
  color: #aaa;
}
.sidebar *{
  color: #ddd;
}
.highlight {
  padding-left: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px 10px 0px;
  height: 30px;
  width: 90%;
  background-color: #676;
}
.highlight * {
  text-decoration: none;
}
.container-horiz{
  display: flex;
  justify-content: flex-start;
  width: 90%;
  align-items: center;
}
.container-buffet{
  border: solid 2px #bbb;
  padding: 10px;
}
.dave{
  width: 80px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.wrap{
  flex-wrap: wrap;
}
.salad{
  width:  200px;
}
.plated{
  width: 100px;
}
.bar{
  height: 5px;
  width: 100%;
  background-color: #222;
}
.gondola{
  width: 63px;
  height: 25px;
}
.gondola-container{
  width: 100px;
  height: 34px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 2px #ede;
}
.gondola-sidebar{
  width: 100px;
  margin-top: 45px;
}
.big-blurb{
  font-size: 1em;
  color: #333;
  font-weight: lighter;
}
.titles{
  font-size: 1.5em;
  color: #960716;
}
.navbar{
  align-items: center;
  font-size: .7em;
  margin-top: -12px;
  height: 30px;
  width: 100%;
  background-color: #fff;
  border: solid 2px #ede;
}
.navbar-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: #fff;
  border:
}
.navbar-spacer{
  width: 200px;
}
.navbar-div-highlight{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: #efefef;
}
.navbar-div:hover{
  cursor: pointer;
}
.navbar *{
  text-decoration: none;
}
.navbar-warning{
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: red;
}
.questions{
  font-size: 1.2em;
  color: #960716;
}
.sample-titles{
  font-size: 1.2em;
  color: #222;
  text-decoration: underline;
}
.smaller-text{
  font-size: .65em;
}
.piechart{
  width: 60%;
}
.button-start{
  color: white;
  font-size: 1.2em;
  background-color: #428bca;
  margin-bottom: 30px;
  border-radius: 5px;
  margin: 30px 40px 30px 0;
}
.button-send{
  color: white;
  font-size: 1.2em;
  background-color: #d9534f;
  margin-bottom: 30px;
  border-radius: 5px;
  margin: 30px 40px 30px 0;
}
.button-start:hover{
  background-color: #317ab9;
  cursor: pointer;
}
.button-send:hover{
  background-color: #c8423e;
  cursor: pointer;
}
.img-buffet{
  height: 200px;
}
.style-img{
  height: 70px;
  width: 70px;
}
.style-headline{
  text-align: center;
}
.selectBox{
  display:flex;
  align-items: center;
  justify-content: center;
  border: solid #000 1px;
  height: 70px;
  width: 70px;
}
table {
  border-collapse: collapse;
  max-width: 1000px;
}
tr {
  border: black solid 1px;
  margin-top: 5px;
}
tr:hover{
  background-color: #fff;
  cursor: pointer;
}

.checkBox{
  height: 50px;
  width: 50px;
}
.fa-cutlery{
  color: #fff;
  margin-top: 30px;
}
.arrow{
  margin-top: 20px;
  height: 40px;
}
.van{
  width: 82px;
  height: 70px;
}
.client-info-div {
  margin-bottom: 30px;
}
.text-area{
  width: 300px;
  height: 150px;
}
.danger{
  color: red
}
.cupcake{
  margin-top: 25px;
  width: 70px;
}
@media only screen and (min-width: 1111px) {
    /* For desktop: */
    .service-div{
      width: 80%;
    }
    .htop, .waiter{
      width: 100%;
    }
    .splash{
      width: 100%;
    }

    .about-you{
      width: 80%;
    }
    .titles{
      font-size: 2em;
    }
    .cupcake{
      width: 100px;
    }
    .navbar{
      align-items: center;
      font-size: .7em;
      margin-top: -12px;
      height: 75px;
    }
    .gondola{
      width: 140px;
      height: 60px;
    }
    .gondola-container{
      width: 218px;
      height: 80px
    }
    .van{
      width:200px;
      height: 170px;
    }
    .sidebar {
      font-size: 1.6em;
      width: 220px;
    }
    .sidebar-div {
      height: 60px;
    }
    .highlight {
      height: 60px;
    }
    .gondola-sidebar{
      width: 170px;
      margin-top: 45px;
    }
    .style-img{
      height: 200px;
      width: 200px;
    }
    .plated{
      width: 500px;
    }
    .img-buffet{
      height: 400px;
    }
    .button-start{
      font-size: 2em;
    }
    .dave{
      width: 200px;
      height: 300px;
    }
    .salad{
      width: 650px;
    }
    .big-blurb{
      font-size: 1.5em;
    }
    .navbar{
      font-size: 1em;
    }
    .top-space{
      margin-top: 65px;
    }
    p{
      font-size: 1em;
    }
    .container {
      width: 100%;
    }
    .fa-cutlery{
      font-size: 1em;
      color: #fff;
      margin-left: 27%;
    }
}
.top-margin{
  margin-top: 10px;
}
.space-between{
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}
.baseline{
  align-items: flex-end;
}
.fixed{
  position: fixed;
}
.gutter{
  width: 85%;
}
.center-text{
  text-align: center;
}
.center{
  justify-content: center;
}
.testimonial{
  font-style: italic;
  color: #fff;
}
.address{
  margin-bottom: 10px;
}
.address p{
  margin-top: 0;
  margin-bottom: 0;
}
.margin-left{
  margin-left: 20px;
}
.green{
  background-color: #f2f;
}
.warning{
  color: #960716;
}
.text-align-left{
  text-align: left;
}
input {

  margin: 0 15px 0 0;
  float: left;
}
input[type=checkbox]
{
 zoom: 1.5;

}
.fa-cutlery, .fa-info-circle{
  color: #fff;
  margin-left: 27%;
}
.fa-info-circle{
  margin-top: 25px;
}
.checkbox-description{
  margin: 15px 0 0 0;
}
.white, label {
  color: #fff;
}
